<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="C:\.nuget\packages" />
    <add key="longPathAware" value="true" />
    <add key="allowInsecureConnections" value="true" />
  </config>
  

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" longPathAware="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />

  </packageSources>

  <disabledPackageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
    <add key="Nexus" value="true" />
  </disabledPackageSources>
</configuration>
